
<div class="back-cont">
  <div class="back">

  </div>
</div>

<div class="first-chunk-cont contanier-fluid">
  <div class="row">
    <div class="first-chunk offset-1 col-10 row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 int-chunk text-chunk">
        <div class="chunk-head-text">
          <h3>Chapter 1</h3>
          <h3>What was the start?</h3>
        </div>
        <div class="chunk-main-text">
          <p>
            I begun with simple html and css stuff,
            just because everything you do is displayed on the screen, and you feel so "cool-programmerable"!
            Even assuming the fact it doesn't have anything in common with real programming,
            I'd spent plenty of time on doing dry layouts and beautiful css stuff, cuz it was
            something so understandable and obvious. But, some time I definitely had to move further.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 int-chunk img-chunk">
        <div class="img"></div>
      </div>
    </div>
  </div>
</div>

<div class="second-chunk-cont contanier-fluid">
  <div class="row col-12">
    <div class="second-chunk offset-1 col-10 row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 int-chunk img-chunk">
        <div class="img"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 int-chunk text-chunk">
        <div class="chunk-head-text">
          <h3>Chapter 2</h3>
          <h3>Moving to actual programming</h3>
        </div>
        <div class="chunk-main-text">
          <p>
            There is the important moment of my "career": I finally understood, that buttons have to execute something and
            links have to... link. So I started diving deep into JavaScript, studying it's specifics and integration with
            DOM. When I had enough of it, I started refreshing everything with TypeScript on the top. All this took some time,
            but it gave me the basic knowledge for moving to frameworks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="third-chunk-cont contanier-fluid">
  <div class="row col-12">
    <div class="third-chunk offset-1 col-10 row">
      <div class="col-12 int-chunk text-chunk">
        <div class="chunk-head-text">
          <h3>Chapter 3</h3>
          <h3>The final step</h3>
        </div>
        <div class="chunk-main-text">
          <p>
            Eventually, we can talk about the stuff I'm working on while doing this portfolio: Angular
            (specifically 17th version). I begun with basic course of this framework, where I'd got everything
            I needed to do all I could do without it, but much more optimized and with better user experience.
            Then I moved to RxJS and other more deep-dive things. And that's where I am: you can see results of my work
            right there, and also in "Works" part of the website.
          </p>
        </div>
      </div>
      <div class="col-12 int-chunk img-chunk">
        <div class="img"></div>
      </div>
    </div>
  </div>
</div>

